env:
app:
  application: 'hancock:ms-wallet-hub'
  hostname: 'localhost'
  server:
    protocol: 'http'
    host: 'localhost'
    port: 3000
    externalPort: 3000
    base: ''
    externalBase: ''
  blockchain:
    ethereum:
      protocol: ws
      host: ganache
      port: 8545
  db:
    protocol: mongodb
    hosts: mongo:27017
    database: 'hancock'
    params: ''
    user: ''
    pass: ''
    ethereum:
      database: hancock
      collections:
        contracts: smartcontracts
        providers: providers
  cryptvault:
    api:
      getByAddressEndpoint: 'http://kong:8000/v1/wallets/:address'
      signEndpoint: 'http://kong:8000/v1/wallets/:address/sign'
    credentials:
      key: 'OiYdLKOblAicxiasy2tJolbc3oBYkiyg'
      secret: 'umFfDtKwdv9k6uhu7EEA2Hwoe3aWaoTT'
      expires_in: '1555674519'
  api:
    signTxResource: '/sign-tx'
    sendTxResource: '/send-tx'    
    sendSignedTxResource: '/send-signed-tx'
    signedTxHookResource: '/signed-tx-hook'
  logger:
    logLevel: debug
  headers:
    hancockRequest: 'vnd-hancock-request-id'
